{% extends 'base.html.twig' %}

{% block title %}
	Nouveau projet - TaskLinker
{% endblock %}

{% block body %}
	<main>
		<header>
			<div id="current-user"></div>
			<div id="title-page">
				<h1>Nouveau projet</h1>
			</div>
		</header>
		<div id="content">
			{{ form_start(form) }}
			<div>
				{{form_row(form.title)}}
				{{form_row(form.employe_id)}}
				<br>
				<button type="submit" class="button button-submit">Continuer</button>
				{{ form_end(form) }}
			</div>
		</main>
	{% endblock %}
