{% extends 'base.html.twig' %}

{% block title %}
	Nouveau projet - TaskLinker
{% endblock %}

{% block body %}
	<main>
		<header>
			<div id="current-user"></div>
			<div id="title-page">
				<h1>Nom du projet</h1>
			</div>
		</header>
		<div id="content">
			<form name="projet" method="post">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<br>
				<button class="button button-submit">Modifier</button>
				{{ form_end(form) }}
			</form>
		</div>
	</main>
{% endblock %}
